body{
    margin: 0px;
    padding: 0px;
    background-color: #181818;
    font-family: 'Mountains of Christmas', serif;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    margin: 20px;

}

.header{
    width: 100%;
    display: flex;
    position: relative;
}

.league{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.bundesliga{
    color: #DADADA;
    font-size: larger;
}

.country{
    color: #DADADA;
    opacity: 0.5;
    font-size: smaller;
}

.date{
    color: white;
    position: absolute;
    right: 50px;
    top: 10px;
}

.detailSelection{
    font-size: small;
    margin-top: 20px;
    width: 500px;
    height: 20px;
    display: flex;
    color: #DADADA;
    opacity: 0.8;
    justify-content: space-between;    
}

.selection:hover{
    opacity: 0.5;
    cursor: pointer;
}

.text-button {
    font-size: small;
    color: #DADADA;
    cursor: pointer;
    background: none;
    border: none;
}

#showSelection{
    color: #ffffff;
    font-weight: bold;
}

.borderline{
    border-bottom: solid;
    border-color: white;
    opacity: 0.5;
}

.motherbox{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    
}
 
.games{
    color: white;
    background-color: purple;
    width: 600px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teamName1{
    width: 33%;
}

.teamName2{
    width: 33%;
}

.matchResult{
    width: 33%;
}