body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    font-family: Verdana, "Lucida Sans Unicode", sans-serif
}

.container {
    background-color: purple;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.titleLeft, .titleRight{
    display: flex;
    align-items: center;
}
.titleLeft .info1, .titleRight .info2 {
    width: 100px;
    height: 20px;
    padding: 5px;
}

.result{
    background-color: lightgreen;
}

.matches{
    width: 200px;
    height: 20px;
}

.style{
    background-color: green;
    margin-left: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

img{
    width: auto;
    height: 50px;
    padding: 5px;
}